<% if @facade.search == "top rated" %>
  <%= render partial: "movie_search_results", locals: { movies: @facade.movie_results, user: @user } %>
<% elsif @facade.search == "keywords"%>
  <h3>Movie results for: <%= @facade.keywords %></h3>
  <%= render partial: "movie_search_results", locals: { movies: @facade.keyword_results, user: @user } %>
<% end %>
